<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="C:\CodePlex\SvnBridge" />
    <add key="LogCancelErrors" value="True" />
    <add key="UseCodePlexServers" value="False" />
    <add key="DomainIncludesProjectName" value="True" />
    <add key="TfsUrl" value="https://tfs01.codeplex.com,https://tfs02.codeplex.com,https://tfs03.codeplex.com,https://tfs05.codeplex.com,https://tfs10.codeplex.com" />
    <!--
    <add key="TfsUrl" value="http://codeplex-tfs3:8080" />
    -->
  </appSettings>
  <system.web>
    <httpRuntime maxRequestLength="500000" /> <!-- 250+ MB -->
    <customErrors mode="Off" />
    <compilation debug="true" />
    <authentication mode="None" />
    <!-- Uncomment this httpHandlers element if running under IIS 6.0 / 5.1 -->
    <!--
    <httpHandlers>
      <clear/>
      <add verb="*" path="*" type="SvnBridgeServer.SvnBridgeHttpHandler, SvnBridgeServer" />
    </httpHandlers>
    -->
  </system.web>
  <system.net>
    <defaultProxy enabled="true" />
  </system.net>
  <!-- IIS 7.0 -->
  <system.webServer>
    <modules>
      <remove name="ServiceModel" />
    </modules>
    <handlers>
      <clear />
      <add name="SvnBridgeHandler" path="*" verb="*" responseBufferLimit="0" type="SvnBridgeServer.SvnBridgeHttpHandler" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true">
        <requestLimits maxAllowedContentLength="262144000" /> <!-- 250 MB -->
        <fileExtensions>
          <clear />
        </fileExtensions>
        <hiddenSegments>
          <clear />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>