<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="UseCodePlexServers" value="True" />
    <add key="LogPath" value="C:\CodePlex\SvnBridge" />
    <!--
    <add key="DomainIncludesProjectName" value="True" />
    <add key="TfsUrl" value="http://codeplex-tfs3:8080" />
    -->
  </appSettings>
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" />
    <authentication mode="None" />
    <!-- IIS 6.0 / 5.1 -->
    <httpHandlers>
      <clear/>
      <add verb="*" path="*" type="SvnBridgeServer.SvnBridgeHttpHandler, SvnBridgeServer" />
    </httpHandlers>
  </system.web>
  <!-- IIS 7.0 -->
  <system.webServer>
    <handlers>
      <clear/>
      <add name="SvnBridgeHandler" 
           path="*" 
           verb="*" 
           responseBufferLimit="0" 
           type="SvnBridgeServer.SvnBridgeHttpHandler" 
           resourceType="Unspecified" 
           preCondition="integratedMode" />
    </handlers>
    <security>
      <requestFiltering>
        <fileExtensions>
          <clear/>
        </fileExtensions>
        <hiddenSegments>
          <clear/>
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>