<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="IntegrationTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<appSettings>
    <add key="cacheEnabled" value="False"/>
    <add key="ReadAllUserDomain" value="" />
    <add key="ReadAllUserName" value="" />
    <add key="ReadAllUserPassword" value="" />
	</appSettings>
		<applicationSettings>
		<IntegrationTests.Properties.Settings>
			<setting name="Username" serializeAs="String">
				<value></value>
			</setting>
			<setting name="Password" serializeAs="String">
				<value></value>
			</setting>
			<setting name="Domain" serializeAs="String">
				<value></value>
			</setting>
			<setting name="ServerUrl" serializeAs="String">
				<value>http://codeplex-tfs1:8080/tfs/DefaultCollection</value>
			</setting>
			<setting name="CacheEnabled" serializeAs="String">
				<value>False</value>
			</setting>
		</IntegrationTests.Properties.Settings>
	</applicationSettings>
</configuration>